.form_wrap {
    .v-text-field {
        margin-bottom: 20px !important;
    }

    .primary--text {
        color: rgba(0, 189, 211, 1) !important;
    }

    form {
        width: 380px;
        max-width: 100%;
    }

    .file_input_wrap {
        display: flex;
    }
}

.custom_uploader {
    .v-text-field__slot {
        cursor: pointer;
    }

    .v-file-input__text {
        padding-left: 95px;
    }

    .v-input__icon {
        height: 35px;
    }
}

.primary--text {
    &.custom_uploader::before {
        border: solid 2px;
    }
}

.custom_uploader::after {
    content: "Upload";
    color: #000;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 54px;
    width: 83px;
    z-index: 2;
    pointer-events: none;
    border-radius: 4px 0px 0px 4px;
}

.custom_uploader::before {
    content: "";
    position: absolute;

    border: 1px solid rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    border-radius: 4px 0px 0px 4px;
    background-color: #fff;
    width: 83px;
    box-sizing: border-box;
    z-index: 1;
    height: 54px;
    pointer-events: none;
}

.error--text.custom_uploader::before {
    border: solid 2px;
    // border-top: solid 1px;
}

.v-text-field--outlined fieldset {
    top: -4px;
    cursor: pointer;
}