#tooltip_message {
    position: fixed;
    top: 50%;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    padding: 10px;
    overflow-wrap: anywhere;
    max-width: 90%;
}